<div [@routerTransition]>
    <app-page-header [heading]="'Betreungsangebote'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
            <div class="col-lg-6">    
                    <div class="container">
                            <h1>Neue Nachmittagsbetreuung hinzufügen</h1>
                            <form #careForm="ngForm" (ngSubmit)="onSubmit(); careForm.reset()">
                                <div class="form-group">
                                    <label for="startTime">Anfangszeit</label>
                                    <input type="datetime-local" class="form-control" name="startTime" id="startTime" [(ngModel)]="model.startTime" required
                                        #startTime="ngModel">
                                    <div [hidden]="startTime.valid || startTime.pristine" class="alert alert-danger">
                                        Anfangszeit wird benötigt
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <label for="endTime">EndZeit</label>
                                    <input type="datetime-local" class="form-control" name="endTime" [(ngModel)]="model.endTime" id="endTime"
                                        required #endTime="ngModel">
                                    <div [hidden]="endTime.valid || endTime.pristine" class="alert alert-danger">
                                            EndZeit wird benötigt
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="school">Schule</label>
                                    <input type="text" class="form-control" name="school" [(ngModel)]="model.participatingSchool" id="school"
                                        required #school="ngModel">
                                    <div [hidden]="school.valid || school.pristine" class="alert alert-danger">
                                        Schule wird benötigt
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="employee">Betreuer</label>
                                        <select id="options" class="form-control" name="employee" [(ngModel)]="model.owner" id="employee" required #employee="ngModel" >
                                            <option *ngFor="let item of possibleOwners">{{item.username}}</option>
                                              </select>
                        
                                </div>
            
                                <button type="submit" class="btn btn-success" [disabled]="!careForm.form.valid">Submit</button>
            
                            </form>
                        </div>
            </div>
            <div class="col-lg-6">    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">AnfangsZeit</th>
                <th scope="col">EndZeit</th>
                <th scope="col">Schule</th>
                <th scope="col">Betreuer</th>
                <th scope="col">Ändern</th>
                <th scope="col">Löschen</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let afterSchoolCare of afterSchoolCares">
                <td>
                    {{ afterSchoolCare.id }}
                </td>
                <td>{{ afterSchoolCare.startTime  }}</td>
                <td>{{ afterSchoolCare.endTime }}</td>
                <td>{{afterSchoolCare.participatingSchool}}</td>
                <td> {{ afterSchoolCare.owner }}</td>
                <td><button class="btn btn-warning" (click)="open(afterSchoolCare,content)">Ändern</button></td>
                <td><button class="btn btn-danger" (click)="deleteById(afterSchoolCare.id)">Löschen</button></td>

            </tr>
        </tbody>
    </table>
</div>
</div>
<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Schule ändern</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="container">                
                        <form #modalForm="ngForm" (ngSubmit)="modal.close('Save click')">
                                        <div class="form-group">
                                            <label for="startTime">Anfangszeit</label>
                                            <input type="datetime-local" class="form-control" name="startTime" id="startTime" [(ngModel)]="modalCare.startTime" required
                                                #startTime="ngModel">
                                            <div [hidden]="startTime.valid || startTime.pristine" class="alert alert-danger">
                                                Anfangszeit wird benötigt
                                            </div>
                                        </div>
                    
                                        <div class="form-group">
                                            <label for="endTime">EndZeit</label>
                                            <input type="datetime-local" class="form-control" name="endTime" [(ngModel)]="modalCare.endTime" id="endTime"
                                                required #endTime="ngModel">
                                            <div [hidden]="endTime.valid || endTime.pristine" class="alert alert-danger">
                                                    EndZeit wird benötigt
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="school">Schule</label>
                                            <input type="text" class="form-control" name="school" [(ngModel)]="modalCare.participatingSchool" id="school"
                                                required #school="ngModel">
                                            <div [hidden]="school.valid || school.pristine" class="alert alert-danger">
                                                Schule wird benötigt
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="employee">Betreuer</label>
                                                <select id="options" class="form-control" name="employee" [(ngModel)]="model.owner" id="employee" required #employee="ngModel" >
                                                    <option *ngFor="let item of possibleOwners">{{item.username}}</option>
                                                      </select>
                                        </div>
        
                            <button type="submit" class="btn btn-success" [disabled]="!modalForm.form.valid">Submit</button>
        
                        </form>
                    </div>
        </div>
      </ng-template>
</div>
