<app-page-header [heading]="'Benutzerverwaltung'" [icon]="'fa-users'"></app-page-header>
<table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">usertype</th>
                <th scope="col">username</th>
                <th scope="col">password</th>
                <th scope="col">email</th>
                <th scope="col">fullname</th>
                <th scope="col">phoneNumber</th>
                <th scope="col">subject</th>
                <th scope="col">iban</th>
                <th scope="col">address</th>
                <th scope="col">schoolClass</th>
                <th scope="col">isSchoolCoordinator</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.userType }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.subject }}</td>
                <td>{{ user.iban }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.schoolClass }}</td>
                <td>{{ user.isSchoolCoordinator }}</td>
            </tr>
        </tbody>
    </table>